div.timeline-wrapper {
  background: url("images/timeline-background.png") repeat-x scroll 0 0 #CCCCCC;
  overflow: hidden;
}
div.timeline-top {
  height: 150px;
  color: #FFFFFF;
  font-family: swis;
  text-transform: uppercase;
  overflow: hidden;
}
div.timeline-top div.main-title {
  font-size: 40px;
  padding: 30px 0 20px 50px;
}
div.timeline-top div.second-title {
  font-size: 25px;
  padding-left: 50px;
}
div.timeline-top div.body {
  padding: 15px 0 0 50px;
  text-transform: none;
  width: 60%;
}
div.timeline-middle {
  height: 24px;
  position: relative;
  left: 0px;
}
div.timeline-middle div.view-content span.timeline-icon a {
  cursor: pointer;  
}
div.timeline-bottom {
  /*background-image: url("images/timeline_dates.png");*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 83% 0;
  background-color: #808080;
  overflow: hidden;
  height: 32px;
  /*cursor: move;*/
  left: 0px;
}
div.timeline-middle span.timeline-bubble {
	background: url("images/bubble_bg.png") repeat-x scroll 0 0 transparent;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-radius: 10px 10px 10px 0;
	height: 96px;
	margin-left: 9px;
	max-width: 380px;
	min-width: 200px;
	overflow: hidden;
	padding: 10px 5px 10px 15px;
	z-index: 20;
}
div.timeline-middle span.timeline-bubble span.title {
  color: #0E2831;
}
div.timeline-middle span.timeline-bubble span.date {
  color: #316476;
}
div.timeline-middle span.timeline-bubble-bottom {
  background: url("images/bubble_corner.png") no-repeat scroll 0 0 transparent;
  border-left: 1px solid #FFFFFF;
  margin-left: 9px;
  min-height: 22px;
  min-width: 40px;
  z-index: 25;
}
div.timeline-bottom div.button-left {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  margin-top: -32px;
}
div.timeline-bottom div.button-right {
  cursor: pointer;
  float: right;
  position: relative;
  z-index: 5;
  top: -38px;
}

div.timeline-bottom div.timeline-show {
  height: 32px;
  width: 100%;
}
div.timeline-bottom div.timeline-show ul.timeline-date-list {
  margin: 0;
  position: relative;
  left: 0px;
  padding: 0;
}
div.timeline-bottom div.timeline-show li.timeline-date-line-item {
  background-color: #808080;
  color: #FFFFFF;
  list-style: none outside none;
  margin: 0;
  padding-top: 4px;
  text-align: center;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

div.timeline-middle span.timeline-icon a {
    background-image: url("./images/timelinetick.png");
    background-repeat: no-repeat;
    padding: 3px 10px;
}
div.timeline-middle span.timeline-icon a:hover {
	background-image: url("./images/timelinetick-hover.png");
}
div.timeline-wrapper span.exit {
  cursor: pointer;
  float: right;
  position: relative;
  top: -5px;
}
